<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/surveys">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony o ankietach
                </a>
                <h1 class="login">Dodaj opcję do ankiety <q><%= survey.name %></q></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/surveys/<%= survey._id %>/options" method="post">
                   
                    <label for="username" class="username">
                        Podaj tytuł opcji
                        
                    </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                              <i class="fas fa-pencil-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" name="description" id="title" placeholder="Pamiętaj o żonie Lota" aria-label="Tytuł zooma" aria-describedby="basic-addon1" required>
                    </div>
                   
                    
                    
                    <input type="submit" value="Dodaj opcję" class="btn btn-primary button btn-golden">
                   
                </form>
               
            </div>
           
        </div>
        
    </div>
</div>

</body>
</html>